@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&family=Mochiy+Pop+P+One&family=Poppins&display=swap');

 *, ::after, ::before {
  box-sizing: border-box;
  }

  body {
    background: #FFFFFF;  
    margin: 0, auto;
  }
  
  h1, h2 {
      font-family: 'Mochiy Pop P One', sans-serif;
      font-size: 46px;
      margin: 0, auto;
      padding: 15px;
      text-align: center;
    }
    .step1, .step2 {
      font-size: 65px;
    }
  p {
      margin:20px 0px 16px;
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
    }
  
  a {
    text-decoration: none;
     color: #385170;
  }

/* HOME SECTION */

  .flexible-layout {
      padding: 50px;
      text-align: center;
    }

  img {
      border-radius: 8px;
      width: 100%;
      max-width: 500px;
    }

    .icon {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 70px;
      width: auto;
    }

  /* FORMS SECTION */

  #sign-form{
    background-color:#E0FFE9;
    font-family:'Poppins', sans-serif;
    width: 400px;
    height: auto;
    margin: auto;
    padding:0;
    border-radius:20px;
    text-align:center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
    text-align: center;
    font-size: 18px;
  }

  .default-btn {
    background-color: black;
    color: white;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 20px;
    padding: 5px 40px;
    border-radius: 15px;
    margin: 10px 0px;
    cursor: pointer;
  }


/* ************************************************************************************* */

   @media (min-width: 900px) {
  
    .flexible-layout {
      display: grid;
      grid-template-columns: 2fr 2fr;
      grid-template-rows: 1fr;
      row-gap: 20px;
      align-items: center; 
    }
  
    .image-layout {
      justify-content: center;
      width: 70%;
    }
  
    .step-out {
    grid-row: 1/-1;
    grid-column: 2/-1;
    }
  }
  
  @media (max-width: 430px) {

    h1 {
      font-size: 40px;
    }
    
    .step1, .step2 {
      font-size: 50px;
    }
    #sign-form {
      font-size: 9px;
      width: 200px;
    }
    
    .form-group:hover{
      cursor:pointer;
  }

  .icon {
    height: 50px;
  }
}

