@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&family=Mochiy+Pop+P+One&display=swap');

img {
    position: absolute;
    width: 1414px;
    height: 1285px;
    left: 96px;
    top: 158px;
}

