@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&family=Mochiy+Pop+P+One&family=Poppins&display=swap');
  
  img, ul {
      list-style: none;
      display: flex;
      align-items: flex-end;
      justify-content: space-evenly;
      margin: 0;
      padding: 0;
    }
  


/* MENU SECTION */

  .nav {
    background-color:#FFFFFF;
    opacity: 0.7;
    width: auto;
    height: fit-content;
    padding: 30px 20px;
   }

   .nav-list {
     float: right;
   }

   .nav-btn {
     padding: 15px;
     border-radius: 8px;
     text-decoration: none;
     color: #000000;
     font-weight:500;
     transition-property: background-color;
     transition-duration: 0.2s;
     transition-timing-function: ease-in;

   }

/* ************************************************************************************* */

  @media (min-width: 900px) { 
    .nav {
      padding: 30px 80px; 
    }
  }
  
  @media (max-width: 430px) {
    .nav {
      float: left;
      display: block;
      text-align: left;
    }
    
    .nav-list{
      float: left;
      display: none;
    }
  }

  /* NAV RESPONSIVE AFTER 430PX IN ALL ICONS SHOWING WITH IS NOT WORKING */